<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
      {% include 'popup-feedback.html' %}
    <div class="wrapper">
        {% include 'header.html' %}
        <div class="content-box-top">
            <div class="link-box link-holder">
                <a href="#">
                    <div class="link-text">
                        <span class="discount-box">-20%</span>
                        <div class="text-holder">
                             Автоключи для mersedes benz всех моделей
                        </div>
                    </div>
                    <div class="link-image">
                        <img src="data/link_img_image1.png" title="img" alt="img" width="360" height="370" />
                    </div>
                </a>
            </div>
            <div class="link-box holder-link">
                <a href="#">
                    <div class="link-text">
                        <span class="discount-box">-20%</span>
                        <div class="text-holder">
                             Автоключи для mersedes benz всех моделей
                        </div>
                    </div>
                    <div class="link-image">
                        <img src="data/img_link_image1.png" title="img" alt="img" width="360" height="370" />
                    </div>
                </a>
            </div>
            <div class="content-box">
                <div class="content-box-holder">
                    <div class="menu-category">
                        <ul class="menu-holder">
                            <li><a href="#">Автоключи с чипом</a></li>
                            <li><a href="#">Жала и вставки к оригинальным ключам</a></li>
                            <li><a href="#">Инструмент для замков</a></li>
                            <li><a href="#">Корпуса ключей и контейнера под чип</a></li>
                            <li><a href="#">Оборудование для работы с иммобилайзерами и ключами</a></li>
                            <li><a href="#">Оборудование для работы с одометрами</a></li>
                            <li><a href="#">Программаторы для чтения и записи микросхем</a></li>
                            <li><a href="#">Чипы (транспондеры)</a></li>
                            <li><a href="#">Эмуляторы</a></li>
                        </ul>
                    </div>
                    <div class="slider-box">
                        <div class="slider-big">
                            <div class="slider">
                                <div class="box-text">
                                    <div class="slider-text">
                                        <span class="text-title">Изготовление ключей с чипом</span>
                                        <div class="text-box">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="read-more-btn">
                                        <a href="#">Подробнее<em></em></a>
                                    </div>
                                </div>
                                <div class="slider-img-holder">
                                    <img src="data/slider-big_img.jpg" title="img" alt="img" width="880" height="320"/>
                                </div>
                            </div>
                            <div class="slider">
                                <div class="box-text">
                                    <div class="slider-text">
                                        <span class="text-title">Изготовление ключей с чипом</span>
                                        <div class="text-box">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="read-more-btn">
                                        <a href="#">Подробнее<em></em></a>
                                    </div>
                                </div>
                                <div class="slider-img-holder">
                                    <img src="data/slider-big_img.jpg" title="img" alt="img" width="880" height="320"/>
                                </div>
                            </div>
                            <div class="slider">
                                <div class="box-text">
                                    <div class="slider-text">
                                        <span class="text-title">Изготовление ключей с чипом</span>
                                        <div class="text-box">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="read-more-btn">
                                        <a href="#">Подробнее<em></em></a>
                                    </div>
                                </div>
                                <div class="slider-img-holder">
                                    <img src="data/slider-big_img.jpg" title="img" alt="img" width="880" height="320"/>
                                </div>
                            </div>
                        </div>
                        <div class="slider-mini-holder">
                            <div class="slider-mini">
                                <div class="img-box">
                                    <a href="#">
                                        <img src="data/slider-mini/brand_img1.jpg"  title="img" alt="img" />
                                    </a>
                                </div>
                                <div class="img-box">
                                    <a href="#">
                                        <img src="data/slider-mini/brand_img2.jpg"  title="img" alt="img" />
                                    </a>
                                </div>
                                <div class="img-box">
                                    <a href="#">
                                        <img src="data/slider-mini/brand_img3.jpg"  title="img" alt="img" />
                                    </a>
                                </div>
                                <div class="img-box">
                                    <a href="#">
                                        <img src="data/slider-mini/brand_img4.jpg"  title="img" alt="img" />
                                    </a>
                                </div>
                                <div class="img-box">
                                    <a href="#">
                                        <img src="data/slider-mini/brand_img5.jpg"  title="img" alt="img" />
                                    </a>
                                </div>
                                <div class="img-box">
                                    <a href="#">
                                        <img src="data/slider-mini/brand_img3.jpg"  title="img" alt="img" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-sliders">
            <div class="box-title">
                Новинки
            </div>
            <div class="slider-block new">
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <span class="stok-icon">Акция</span>
                        </div>
                        <img src="data/slider-new/product_img1.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <span class="stok-icon">Акция</span>
                        </div>
                        <img src="data/slider-new/product_img2.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <!-- <span class="stok-icon">Акция</span> -->
                        </div>
                        <img src="data/slider-new/product_img3.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <!-- <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div> -->
                        <div class="price">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <!-- <span class="stok-icon">Акция</span> -->
                        </div>
                        <img src="data/slider-new/product_img4.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <div class="price">
                            2163 грн
                        </div>
                        <!-- <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div> -->
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <!-- <span class="stok-icon">Акция</span> -->
                        </div>
                        <img src="data/slider-new/product_img3.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <!-- <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div> -->
                        <div class="price">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-sliders">
            <div class="box-title">
                Лидеры продаж
            </div>
            <div class="slider-block">
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <span class="stok-icon">Акция</span>
                        </div>
                        <img src="data/slider-new/product_img1.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <span class="stok-icon">Акция</span>
                        </div>
                        <img src="data/slider-new/product_img2.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <!-- <span class="stok-icon">Акция</span> -->
                        </div>
                        <img src="data/slider-new/product_img3.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <!-- <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div> -->
                        <div class="price">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <!-- <span class="stok-icon">Акция</span> -->
                        </div>
                        <img src="data/slider-new/product_img4.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <div class="price">
                            2163 грн
                        </div>
                        <!-- <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div> -->
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <!-- <span class="stok-icon">Акция</span> -->
                        </div>
                        <img src="data/slider-new/product_img3.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <!-- <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div> -->
                        <div class="price">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-sliders">
            <div class="box-title">
                Акционные товары
            </div>
            <div class="slider-block new">
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <span class="stok-icon">Акция</span>
                        </div>
                        <img src="data/slider-new/product_img1.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <span class="stok-icon">Акция</span>
                        </div>
                        <img src="data/slider-new/product_img2.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <!-- <span class="stok-icon">Акция</span> -->
                        </div>
                        <img src="data/slider-new/product_img3.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <!-- <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div> -->
                        <div class="price">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <!-- <span class="stok-icon">Акция</span> -->
                        </div>
                        <img src="data/slider-new/product_img4.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <div class="price">
                            2163 грн
                        </div>
                        <!-- <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div> -->
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
                <div class="product-box">
                    <a href="#" class="product-name">Программатор для корректировки одометра X300M</a>
                    <div class="product-article">
                        <span>Артикул:</span> OBD-00007
                    </div>
                    <a href="#" class="product-img">
                        <div class="icon-box">
                            <!-- <span class="top-icon">Топ</span> -->
                            <span class="new-icon">Новинка</span>
                            <!-- <span class="stok-icon">Акция</span> -->
                        </div>
                        <img src="data/slider-new/product_img3.jpg" title="item" alt="item" />
                    </a>
                    <div class="price-box">
                        <!-- <div class="price-old">
                            2163 грн
                        </div>
                        <div class="price-topical">
                            2163 грн
                        </div> -->
                        <div class="price">
                            2163 грн
                        </div>
                    </div>
                    <div class="product-buy-btn">
                        Купить<em></em>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-sliders news">
            <div class="box-title">
                Последние новости
            </div>
            <div class="news-holder">
                <div class="news-box">
                    <a href="#" class="news-img">
                        <img src="data/news/news_img1.jpg" title="news" alt="news" />
                    </a>
                    <div class="news-data">
                        02.02.2017
                    </div>
                    <a href="#" class="news-title">
                        Адаптер диагностики VAS 5054A по специальной цене!
                    </a>
                    <div class="news-text">
                        <p>
                            Автомобили марок Volkswagen и Mercedes-Benz стали самыми ликвидными на российском рынке, сообщает «Автостат-инфо».
                        </p>
                    </div>
                </div>
                <div class="news-box">
                    <a href="#" class="news-img">
                        <img src="data/news/news_img2.jpg" title="news" alt="news" />
                    </a>
                    <div class="news-data">
                        02.02.2017
                    </div>
                    <a href="#" class="news-title">
                        Programator UPA-S PROG по специальной цене!
                    </a>
                    <div class="news-text">
                        <p>
                            Автомобили марок Volkswagen и Mercedes-Benz стали самыми ликвидными на российском рынке, сообщает «Автостат-инфо».
                        </p>
                    </div>
                </div>
                <div class="news-box">
                    <a href="#" class="news-img">
                        <img src="data/news/news_img3.jpg" title="news" alt="news" />
                    </a>
                    <div class="news-data">
                        02.02.2017
                    </div>
                    <a href="#" class="news-title">
                        Programator UPA-S PROG по специальной цене!
                    </a>
                    <div class="news-text">
                        <p>
                            Автомобили марок Volkswagen и Mercedes-Benz стали самыми ликвидными на российском рынке, сообщает «Автостат-инфо».
                        </p>
                    </div>
                </div>
            </div>
            <div class="btn-holder">
                <div class="news-more-btn">
                    <a href="#">Все новости<em></em></a>
                </div>
            </div>
        </div>
        <div class="content-sliders">
            <div class="box-title">
                Категории
            </div>
            <div class="slider-category">
                <div class="category-box">
                    <a href="#">
                        <div class="category-img">
                            <img src="data/category/category_img1.jpg" title="category" alt="category" />
                        </div>
                        <div class="category-title">
                            Автоключи с чипом
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="#">
                        <div class="category-img">
                            <img src="data/category/category_img2.jpg" title="category" alt="category" />
                        </div>
                        <div class="category-title">
                            Жала и вставки к оригинальным ключам
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="#">
                        <div class="category-img">
                            <img src="data/category/category_img3.jpg" title="category" alt="category" />
                        </div>
                        <div class="category-title">
                            Корпуса ключей и контейнера под чип
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="#">
                        <div class="category-img">
                            <img src="data/category/category_img4.jpg" title="category" alt="category" />
                        </div>
                        <div class="category-title">
                            Оборудование для работы с иммобилайзерами и ключами
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="#">
                        <div class="category-img">
                            <img src="data/category/category_img5.jpg" title="category" alt="category" />
                        </div>
                        <div class="category-title">
                            Корпуса ключей и контейнера под чип
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="#">
                        <div class="category-img">
                            <img src="data/category/category_img6.jpg" title="category" alt="category" />
                        </div>
                        <div class="category-title">
                            Чипы (транспондеры)
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="#">
                        <div class="category-img">
                            <img src="data/category/category_img3.jpg" title="category" alt="category" />
                        </div>
                        <div class="category-title">
                            Корпуса ключей и контейнера под чип
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="content-img">
                <img src="data/content-block_img.png" title="img" alt="img"  />
            </div>
            <div class="content-seo">
                <div class="box-title">
                    Carkeys
                </div>
                <div class="box-subtitle">
                    Изготовление автомобильных ключей — наш профиль
                </div>
                <div class="content-text">
                    <p>
                        Современные автомобильные ключи требуют высокой квалификации. «Дешевый» слесарь тут не помощник.
                        Если в автомобиле установлена система «иммобилайзер», то понадобится и соответствующий ключ. Без совпадения
                        кода не заведется машина и не откроется замок. Для решения таких задач лучше обратиться в сертифицированную мастерскую,
                        где изготовят автомобильные ключи. Такие изделия не выполнить в результате обычных механических операций. Они требуют
                        программирования, что дает возможность бороться с угонами во всем мире. Еще недавно потеря такого ключа выливалась в
                        немалые затраты как времени, так и денег, потому что его можно было заполучить лишь у официального продавца. Ожидание
                        могло растянуться на месяцы и обойтись в не одну сотню гривен. Изготовление автомобильных ключей нашими мастерами
                        осуществляется быстро и Современные автомобильные ключи требуют высокой квалификации. «Дешевый» слесарь тут не помощник.
                        Если в автомобиле установлена система «иммобилайзер», то понадобится и соответствующий ключ. Без совпадения
                        кода не заведется машина и не откроется замок. Для решения таких задач лучше обратиться в сертифицированную мастерскую,
                        где изготовят автомобильные ключи. Такие изделия не выполнить в результате обычных механических операций. Они требуют
                        программирования, что дает возможность бороться с угонами во всем мире. Еще недавно потеря такого ключа выливалась в
                        немалые затраты как времени, так и денег, потому что его можно было заполучить лишь у официального продавца. Ожидание
                        могло растянуться на месяцы и обойтись в не одну сотню гривен. Изготовление автомобильных ключей нашими мастерами
                        осуществляется быстро и
                    </p>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
    {% include 'js.html' %}
  </body>
</html>
