<header class="header">
    <div class="header-top">
        <div class="schedule">
            <span>ПН - ПТ</span> 09:00 - 18:00, <span>CБ</span> 09:00 - 15:00, <span>ВС</span> ВЫХОДНОЙ
        </div>
        <div class="email-box">
            <a href="mailto:orders@carkeys.com.ua">orders@carkeys.com.ua</a>
        </div>
        <div class="personal-area">
            <a href="#">Личный кабинет</a>
        </div>
    </div>
    <div class="header-bottom">
        <strong class="logo"><a href="#"></a></strong>
        <div class="search-form">
            <form method="post" action="#">
                <div class="search-field">
                    <input type="text" placeholder="Что ищете?"/>
                    <button type="submit" class="search-btn"></button>
                </div>
            </form>
        </div>
        <div class="back-call">
            <a href="tel:+380934077070">+38(093)-407-70-70</a>
            <span class="feedback-call-btn">Заказать обратный звонок</span>
        </div>
        <div class="basked-box">
            <a href="#">
                <span class="basked-icon"></span>
                <span class="basked-counter">2</span>
            </a>
        </div>
    </div>
    <nav class="nav-menu">
        <div class="menu-link">
            <span><em></em>Категории</span>
        </div>
        <div class="nav-menu-inside">
            <ul class="nav-menu-holder">
                <li><a href="#">О компании</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Бренды</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="currency-box">
            <span class="currency-title">Валюта:</span>
            <div class="select-currency"><span>UAH</span>
                <ul class="currency-block">
                    <li><a href="#">UAH</a></li>
                    <li><a href="#">RUS</a></li>
                    <li><a href="#">ENG</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
