<div class="popup-overlay">
    <div class=popup-holder>
        <span class="close-popup"></span>
        <form class="form-popup" name="feedback" method="post" action="#">
            <div class="popup-title-box">
                <div class="popup-title">
                    Обраный звонок
                </div>
                <div class="popup-subtitle">
                    Оставьте ваши контактные данные и наш менеджер с вами свяжеться
                </div>
            </div>
            <div class="popup-row">
                <label for="name" class="input-name">Имя:</label>
                <input id="name" type="text"/>
                <label class="error-input">Введите имя</label>
            </div>
            <div class="popup-row">
                <label for="telephone" class="input-name">Телефон:</label>
                <input id="telephone" type="tel" />
                <label class="error-input">Введите телефон</label>
            </div>
            <div class="btn-holder">
                <button type="submit" class="btn-submit">
                    Перезвонить мне<em></em>
                </button>
            </div>
        </form>
    </div>
</div>
